@model suvarnyug.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-3 mt-3">
            <div class="section-title"><h2 class="text-center"><span>Change Password</span></h2></div>
        </div>
    </div>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }

    <div class="row">
        <div class="col-lg-12 mb-3">
            <form class="add-forum" asp-action="ChangePassword" method="post">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="OldPassword">Old Password <span class="star-validation-ddl">*</span></label>
                            <input asp-for="OldPassword" class="form-control" type="password" required maxlength="100" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NewPassword">New Password <span class="star-validation-ddl">*</span></label>
                            <input asp-for="NewPassword" class="form-control" type="password" required maxlength="100" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password <span class="star-validation-ddl">*</span></label>
                            <input asp-for="ConfirmPassword" class="form-control" type="password" required maxlength="100" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="theme-btn style-two">
                            <span data-hover="Change Password">Change Password</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
