@{
    ViewData["Title"] = "About";
}
<section class="page-banner-area pt-50 pb-35 rel z-1 bgs-cover"
         style="background-image: url('/assetsuser/images/banner/about.jpg');">
    <div class="container">
        <div class="banner-inner text-white">
            <h2 class="page-title mb-10" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">
                About Us
            </h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-20" data-aos="fade-right" data-aos-delay="200"
                    data-aos-duration="1500" data-aos-offset="50">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- Page Banner End -->
<!-- About Area start -->
<section class="about-area-two py-65 rel z-1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-3" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
            </div>
            <div class="col-xl-12">
                <div class="about-page-content" data-aos="fade-left" data-aos-duration="1500"
                     data-aos-offset="50">
                    <div class="row">
                        <div class="col-lg-8 pe-lg-5 me-lg-5">
                            <div class="section-title mb-25">
                                <h2>Why Choose Us?</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="experience-years rmb-20">
                                <span class="title bgc-secondary">Years Of Experience</span>
                                <span class="text">We have</span>
                                <span class="years">28+</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>
                                At SuvarnYug, we believe that marriage is a beautiful
                                journey of companionship, love, and mutual respect. Our mission is to help
                                people find their perfect life partners by providing a trusted platform that
                                brings together individuals looking for serious, meaningful relationships.
                            </p>
                            <ul class="list-style-two mt-35">
                                <li>Experience Agency</li>
                                <li>Professional Team</li>
                                <li>Easy-to-Use Platform</li>
                                <li>Online Support 24/7</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us-area pb-70 rel z-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6">
                <div class="about-us-content rmb-55" data-aos="fade-left" data-aos-duration="1500"
                     data-aos-offset="50">
                    <div class="section-title mb-25">
                        <h2>Suvarnyug connects you with matrimony advice and community support.</h2>
                    </div>
                    <p>
                        Suvarnyug provides a unique matrimony experience by connecting individuals through personalized matchmaking 
                        and engaging forums. Join us to share experiences, seek advice, and discover lasting love!
                    </p>
                    <div class="row pt-25">
                        <div class="col-6">
                            <div class="counter-item counter-text-wrap">
                                <span class="count-text plus" data-speed="3000" data-stop="@ViewData["TotalBiodata"]">0</span>
                                <span class="counter-title">Matrimonial profiles</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="counter-item counter-text-wrap">
                                <span class="count-text plus" data-speed="3000" data-stop="@ViewData["TotalForum"]">0</span>
                                <span class="counter-title">Forums Created</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
                <div class="about-us-page">
                    <img src="~/assetsuser/images/about/award.jpg" alt="About">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area end -->